body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
div{
    width: 500px;
    height: 25px;
    background-color: white;
    margin-left: 400px;
    margin-top: 200px;
    border: 300px, 150px;
      box-shadow: 0 0 110px 30px hsl(48, 100%, 99%);

}